{% extends 'base.html.twig' %}

{% block body %}
    
    <div class="container">
        <form action="{{ path('login') }}" method="post" class="table">
        {% if error %}
        <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"/>
        
            <label for="password">Password:</label>
            <input type="password" id="password" name="_password" class="form-control"/>
        </div>
        <div>
            <button type="submit" class="btn btn-primary btn-lg btn-block" >login</button>
        </div>
        </form>
    <hr>
{% endblock %}
