<h1>Hi {{ user.getName() }}</h1>

<p>Your account has been created on {{ absolute_url(path('homepage')) }}.</p>

<p>You should be proud of yourself, if not do not worry, normaly ppl like you jump over the rooftop very very often.</p>

<p>We give u a very good advice, always legs up for a seccsessful run.</p>

